<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}" />
    <title>{% block title %}My Amazing Site{% endblock %}
        
    </title>

</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
        <br>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>

<!-- 
1. 용도 
    - 모든 app들이 공통적인 화면을 구성 가능하게 하는 상위 html
2. 
-->
