<h1>detail.html</h1>

<hr>
<br>


<h3>{{question.question_text}}</h3>

{% if error_message %} <p><strong>{{error_message}}</strong></p>{% endif %}

<form action="{% url 'myapp:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" />
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br />
    {% endfor %}

    <input type="submit" value="전송">
</form>

<!--
url 변천사
http://ip:8000/myapp
    views.py : index 함수
        myapp/index.html : 리스트
        링크 클릭
http://ip:8000/myapp/1
    views.py : detail 함수
        처리 로직 : 5라는 pk 존재한 경우 해당 데이터 검색 및 반환
                    미존재시 eorror 발생
            myapp/detail.html
detail.html 구현해야 할 로직
1. 보이는 화면 구성(html/css...)
2. detail함수에서 전송시킨 데이터 출력
    경우의 수 1 : 정상 검색 완료
    경우의 수 2 : 404fh 인해 예외 발생
-->>
<form action="/myapp/3/vote/" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="Tqvb4vV4RM9fizQGv2sH8rX1PcuRnD3BOBvCNvIc7mE77GalQg6neLZHWBXmc6K4">
    
        <input type="radio" name="choice" id="choice1" value="3" />
        <label for="choice1">파이돈</label><br />
    

    <input type="submit" value="전송">
</form>
